:root {
    --grey-blue: #526475;
    --light-gray: #6A6F75;
    --brown: #756446;
    --dark-brown:#292621;
}
html, body {
    margin: 0;
}

* {
    font-family: 'Source Code Pro', monospace;
}

.text-color {
    background: white;
    color: gray;
    padding: 10px 15px;
    box-shadow: 2px 2px 2px 2px black;
}


.viewport {
    height: 75vh;

}

.welcome-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(https://media.istockphoto.com/vectors/pixel-video-game-abstract-seamless-background-vector-id1250539480?k=20&m=1250539480&s=612x612&w=0&h=uOB0lCxN2fyG-1RnNt5Ye-6vfgr9yDIsNx4zJzKuQD0=);
    background-color: black;
    background-blend-mode: luminosity;
}
span {
    font-weight: bold;
}

.add-info {
    font-size: 0.8em;
}
.card-header {
    background-image: url(https://media.istockphoto.com/vectors/pixel-video-game-abstract-seamless-background-vector-id1250539480?k=20&m=1250539480&s=612x612&w=0&h=uOB0lCxN2fyG-1RnNt5Ye-6vfgr9yDIsNx4zJzKuQD0=);
    background-blend-mode:luminosity;
    color: #fff;
}

.icon {
    width: 50px;
    height: 50px;
}

.img-size {
    width: 50px;
    height: 60px;
    margin-right: 8px;
}

.perfil-size {
    border-radius: 100%;
    width: 100%;
    height: auto;
    border: 10px solid white;
}

@media (max-width: 450px){
    .perfil-size {
        width: 260px;
    }
}

h2 {
    font-size: 1.6rem;
    padding: 0 1.6rem;
}

.link-style {
    text-decoration: none;
}

.skill {
    width: 49%;
}

